.header__container
    .header__left
        a.header__logo(href="/")
            img(src="https://static-zmp3.zmdcdn.me/skins/common/logo600.png" alt="logo")

        nav.header__nav
            ul.header__menu
                li.header__item
                    a.header__link(href="/") Trang chủ
                li.header__item
                    a.header__link(href="/topics") Chủ đề
                li.header__item
                    a.header__link(href="/songs") Bài hát
                li.header__item
                    a.header__link(href="/about") Giới thiệu

    .header__right
        a.header__login(href="/login") Đăng nhập