extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Danh sách bài hát")
        .row 
            .col-6.mb-3 
                div(class="song-item")
                    div(class="inner-image")
                        a(href="")
                            img(src="https://cdn-media.sforum.vn/storage/app/media/H%C3%ACnh%20n%E1%BB%81n%20%C3%A2m%20nh%E1%BA%A1c/hinh-nen-am-nhac-thumbnail.jpg")
                    div(class="inner-content")
                        div(class="inner-title")
                            a(href="") tên bh 
                        div(class="inner-singer")
                            i.fa-solid.fa-microphone-lines
                            | Ten ca si 
                        div(class="inner-like") 
                            i.fa-solid.fa-thumbs-up
                            | 1000
                        div(class="inner-time")
                            i.fa-regular.fa-clock
                            |  Hôm nay