.aside
    ul.aside__menu
        li
            a(href=`${prefixAdmin}/topics`) Quản lý chủ đề
        li
            a(href=`${prefixAdmin}/singers`) Quản lý ca sĩ
        li
            a(href=`${prefixAdmin}/songs`) Quản lý bài hát